@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("../assets/PyeongChangPeace-Bold.ttf");
}

@font-face {
  font-family: "PyeongChangPeace-Light";
  src: url("../assets/PyeongChangPeace-Light.ttf");
}

@font-face {
  font-family: "NanumSquareNeoOTF-Bd";
  src: url("../assets/NanumSquareNeoOTF-Bd.otf");
}

@font-face {
  font-family: "NanumSquareNeoOTF-Lt";
  src: url("../assets/NanumSquareNeoOTF-Lt.otf");
}

.container{
  padding-top: 30px;
}
/* This is the CSS for the deep purple rectangle in the center */
.rectangle {
  background-color: #6a0dad; /* This is the deep purple color */
  border-radius: 20px; /* Rounded corners, adjust as needed */
  padding: 30px; /* Space inside the rectangle, adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
  text-align: center; /* Aligns the text in the center */
  color: #fff; /* White text color */
  width: 600px; /* Width of the rectangle, adjust as needed */
  height: 600px; /* Height of the rectangle, adjust as needed */
  margin-left: auto;
  margin-right: 365px;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
